@model GameCursos.Models.Producto

@{
    ViewData["Title"] = "DETALLE DEL PRODUCTO";
}


<body>
  
 <h1 style="text-align: center;">DETALLE DEL PRODUCTO</h1>
 <br><br><br><br><br><br><br>
    <div  class="container">
            <div class="col-sm-4">
              <div style="background-color: #bfb4c2;" class="card mb-3">
                <div style="background-color: #ecd4c2;" class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive" width="96" height="150"
                       src="@Html.DisplayFor(model => model.ImageName)" alt="@Html.DisplayFor(model => model.ImageName)"  />
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                  <p class="card-text">@Html.DisplayFor(model => model.Descripcion)</p>
                  <h5 class="card-title">@Html.DisplayFor(model => model.Precio)</h5>
                  <a class="btn btn-primary" asp-action="Add" asp-route-id="@Model.Id">Agregar</a>
                </div>
              </div>
            </div>
    </div>

  
</body>

    <style>

  body {
width: 100%;
   background-color: #f0ece9;
   background-image: url(https://i.pinimg.com/originals/7c/e9/e3/7ce9e34927261d3b035090cac779fec5.gif);
   background-position: 70% ;
   background-repeat: no-repeat;
   background-size: 40%;
   
  }
.card{
  background-color: #a2b2be;
  width: 370px; 
  height: 400px;
  border-width: 5px;
  box-shadow: 5px 5px 5px 4px  rgba(170, 164, 164, 0.44);
}
</style>