@model IEnumerable<GameCursos.Models.Producto>
@{
    ViewData["Title"] = "Catalogo";  
}

<body>

<h1 style="color">@ViewData["Title"]</h1>
  <div  class="container">
    <h1>@ViewData["Message"]</h1>
    <div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model) {
            <div class="col-sm-4">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive" style="width: 100px; max-width: 100%; height: 100px"
                       src="@item.ImageName" alt="@item.ImageName"  />
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                  <p class="card-text">@Html.DisplayFor(modelItem => item.Precio)</p>
                  <a class="btn btn-primary" asp-action="Add" asp-route-id="@item.Id">Add</a>
                  <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">View</a>
                </div>
              </div>
            </div>
            }
         </div>
        </div>
      </div>
    </div>
  </div>
</body>



  
    <style>
  body {
    background-image: url(https://img.freepik.com/vector-premium/videojuego-dibujado-mano-doodle-patrones-fisuras-elemento-controlador-joystick-consola-jugador-video_253081-1227.jpg?w=826);
    color: rgb(0, 0, 0);
  }
</style>