@model IEnumerable<GameCursos.Models.Pedido>
@{
    ViewData["Title"] = "Pedido";  
}

<style>
    body {
        background: linear-gradient(to right, #ffd700, #800080);
    background-size: 100% 100%;
    color: #333;
    }
    .tabla-contenedor {
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido en la página */
    padding: 20px; /* Espaciado interno del contenido */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
    table {
        background-color: white; /* Color de fondo de la tabla */
        border-collapse: collapse;
        width: 80%; /* Ancho de la tabla */
        margin: 20px auto; /* Centrar la tabla en la página */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para la tabla */
    }
    th, td {
        padding: 10px; /* Espaciado interno de celdas */
        text-align: center; /* Alineación del texto en celdas */
        border: 1px solid #ccc; /* Borde de celdas */
    }
    thead {
    background-color: #f5f5f5; /* Color de fondo de la cabecera */
}
    th {
        background-color: #3498db; /* Color de fondo para encabezados */
    }

    /* Estilos para las filas alternas */
    tr:nth-child(even) {
        background-color: rgba(52, 152, 219, 0.2); /* Fondo de filas alternas con transparencia */
    }
    a {
    color: #007BFF; /* Color del enlace */
    text-decoration: none; /* Sin subrayado en el enlace */
}

a:hover {
    color: #0056b3; /* Cambio de color al pasar el ratón por encima */
}
</style>
<h1>Pedidos</h1>

<div class="tabla-contenedor">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
}
    </tbody>
</table>
</div>