@model IEnumerable<GameCursos.Models.Pedido>
@{
    ViewData["Title"] = "Pedido";  
}

<h1>Pedidos</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    body{
        background-image: url(https://i0.wp.com/cloud.estacaonerd.com/wp-content/uploads/2019/04/16225503/ps4-june-refresh-new-flow-us-09jun16.jpg?fit=1947%2C1375&ssl=1);
      background-repeat: no-repeat;
   background-size: 100%;
      
    }

    h1{
       color: white;
       text-align: center;
    }
</style>